@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-weight: 600;
  --font-size: 3rem;
  --primary-color: #ff900e;
  --primary-background-color: rgba(255, 144, 14, 0.1);
  --dark-01: rgba(19, 19, 19, 1);
  --dark-02: rgba(73, 72, 72, 1);
  --primary-width: 85rem;
  --margin-primary: 0 auto;
}

/* Shared styles */
.button-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin: 1rem 0;
  border: none;
}

.flex {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* header related styles */

header {
  background-color: var(--primary-background-color);
  margin: 0 auto;
}

.logo {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}
.navbar {
  align-items: center;
  justify-content: space-around;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--dark-02);
}

/* banner related style */

#banner {
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.banner-title {
  font-weight: var(--font-weight);
  margin-bottom: 1rem;
  font-size: var(--font-size);
}

#banner .banner-text {
  max-width: var(--primary-width);
  text-align: center;
}

#banner .banner-image {
  width: 60%;
  height: auto;
  margin: 1rem auto;
}

#banner .banner-image img {
  width: 100%;
}

/* features related styles */
.features {
  align-items: center;
  max-width: var(--primary-width);
  margin: var(--margin-primary);
  margin-top: 5rem;
}

.image-collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.features-text {
  margin: 0 5rem;
  width: 50%;
}

.features-title {
  font-size: 3rem;
  font-weight: var(--font-weight);
}

.features-text #ofOur {
  color: var(--dark-02);
}
.features #features {
  color: var(--primary-color);
}
.features-text p {
  color: var(--dark-02);
}

/* Experience related styles */
#experience {
  height: 67rem;
  align-items: center;
  gap: 5rem;
  max-width: var(--primary-width);
  margin: var(--margin-primary);
  margin-top: 5rem;
}

.experience-title {
  font-size: 3rem;
  font-weight: var(--font-weight);
  border-left: 5px solid var(--primary-color);
}

.experience-text p {
  color: var(--dark-02);
  font-size: 1rem;
}

.experience-card {
  padding: 3rem 2rem;
  margin: 1.5rem 0;
  border-radius: 0.7rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.experience-card-title {
  font-size: 1.5rem;
  font-weight: var(--font-weight);
}

.experience-badge {
  position: relative;
  margin-top: -100px;
  padding: 2rem;
}

.experience-badge span {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

/* Facts related style */
#facts {
  max-width: var(--primary-width);
  margin: var(--margin-primary);
  padding: 3rem 0;
}

.facts-text {
  margin: 2rem;
}

.facts-description {
  color: var(--dark-02);
}

.facts-title {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.facts-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.facts-card {
  border: 3px solid var(--primary-color);
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 8px;
  margin-top: 2rem;
}

/* Sponsors related styles */
#sponsor {
  max-width: var(--primary-width);
  margin: 3rem auto;
  padding: 3rem 0;
  text-align: center;
}

.sponsor-title {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

.sponsor-text {
  margin: 3rem;
}
.sponsor-text p {
  color: var(--dark-02);
}

.sponsor-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 3rem 0;
}

.sponsor-images img {
  filter: grayscale(100%);
}

/* FOOTER */
footer {
  background-color: var(--primary-background-color);
  width: var(--primary-width);
  margin: 3rem auto;
  text-align: center;
  color: var(--dark-02);
  padding: 1rem 0;
}

/* RESPONSIVE RELATED STYLES */

@media screen and (max-width: 576px) {
  .navbar,
  .features,
  #experience {
    flex-direction: column;
    text-align: center;
  }

  .facts-cards,
  .sponsor-images {
    grid-template-columns: 1fr;
  }

  /* navbar section */
  .navbar a {
    display: block;
  }
  #banner .banner-image {
    width: 80%;
  }

  /* features section */

  .image-collage {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /* Sponsor related style */
  .sponsor-images img {
    margin: 1rem auto;
  }

  footer {
    width: 100%;
  }
}
